.card-payment {
    background: #f9f9fa;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .08);
    width: 100%;
    max-width: 600px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}



/* TITULO */

.card-title {
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    color: #0869EA;
    text-align: center;
}



/* MARCAS */

.card-brands {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.card-brands img {
    height: 26px;
}

/* CAMPOS */

.card-field {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: Poppins;
}

.card-field label {
    font-size: 12px;
    color: #6B7280;
    font-weight: 500;
    font-family: Poppins;
}

.card-field input {
    border: none;
    border-bottom: 1px solid #D1D5DB;
    padding: 10px 0;
    font-size: 15px;
    outline: none;
    font-family: Poppins;
}

.card-field input:focus {
    border-color: #0869EA;
}

/* ICON INPUT */

.input-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-icon,
.info-icon {
    font-size: 18px;
    color: #9CA3AF;
}

/* FILA DOBLE */

.card-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* BOTON */

.pay-btn {
    margin-top: 20px;
    align-self: center;

    padding: 8px 40px;
    border: none;
    border-radius: 6px;

    background: #F2994A;
    color: white;
    font-weight: 500;
    font-size: 14px;

    cursor: pointer;
    font-family: Poppins;
}

.pay-btn:hover {
    opacity: 0.9;
}