/* Fondo oscuro tipo modal */
.success-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    justify-content: center;
}

.success-modal {
    width: 434px;
    height: 347px;

    background: #f9f9fa;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1),
        0px 4px 6px rgba(0, 0, 0, 0.05);

    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;

    font-family: "Poppins", sans-serif;
}


/* Títulos */
.success-title {
    color: #31ac32;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.success-subtitle {
    color: #52575c;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.success-text {
    color: #6b6f73;
    font-size: 15px;
    margin-bottom: 40px;
}

/* Botón */
.success-button {
    margin-top: 30px;

    padding: 5px 35px;
    border: none;
    border-radius: 4px;

    background: linear-gradient(180deg,
            #2c83f7 -26.36%,
            #0754ba 134.55%);

    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #f9f9fa;

    cursor: pointer;
}


.success-button:hover {
    opacity: 0.9;
}