/* CONTENEDOR */

.filters-card {
    width: 265px;
    background: #f9f9fa;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    border-radius: 10px;

    box-shadow:
        0px 1px 2px rgba(0, 0, 0, 0.06),
        0px 1px 3px rgba(0, 0, 0, 0.1);
}


/* TITULO */

.filters-title {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 15px;
    color: #041c84;
}


/* LISTA */

.filters-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}


/* ITEM */

.filter-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


/* OCULTAMOS CHECKBOX NATIVO */

.filter-item input {
    display: none;
}


/* CHECKBOX CUSTOM */

.custom-checkbox {
    width: 28px;
    height: 28px;
    border: 1.5px solid #041c84;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ICONO */

.filter-icon svg {
    width: 18px;
    height: 18px;
    stroke: #041c84;
    fill: none;
}


/* TEXTO */

.filter-text {
    font-family: "Poppins";
    font-size: 12px;
    color: #041c84;
}


/* DIVISOR */

.filter-divider {
    width: 143px;
    height: 1px;
    background: #d9dbde;
    margin-left: 38px;
}


/* ESTADO CHECKED */

.filter-item input:checked+.custom-checkbox {
    background: #041c84;
}

.filter-item input:checked~.filter-icon svg {
    stroke: white;
    fill: white;
}

.filter-item input:checked~.filter-text {
    color: #041c84;
    font-weight: 500;
}

@media (max-width: 900px) {

    .filters-card {
        width: 100%;
        padding: 20px;
    }

}